html{
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  width: 100vw;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
nav{
  background: rgba(200,200,200,0.3);
  width: 100vw;
}
.navbar-color{
  background-size: cover;
  background-repeat: repeat;
  transition: 0.5s;
}
.logo{
  padding: 12px;
  height: 65px;
}
nav ul li a{
  font-size: 22px;
  padding: 0px 40px 0px 40px;
}
nav ul li a:hover{
  background-color: rgba(0,0,0,0.5);
}
nav ul li .active{
  background-color: rgba(255,255,255,0.2);
}
nav a.button-collapse{
  visibility: hidden;
}
@media only screen and (max-width: 1024px){
nav a.button-collapse {
  visibility: visible;
    display: block;
}
}
#sidenav-overlay {
    background-color: transparent;
}
.side-nav{
  margin-top: 30vh;
  background: none;
  box-shadow: none;
  width: 50vw;
  display: block;
  position: fixed;
}
.side-nav li>a{
  color: white;
  text-align: right;
  line-height: 0;
  height: 22px;
  margin-top: 8px;
  padding: 0 50px;
}
.indicator{
  display: block;
  position: fixed;
  right: 3vw;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background-color: rgba(0,0,0,0);
  border-color: rgba(255,255,255,1);
  border-style: solid;
  border-width: thin;
  top: 30vh;
  transition: 1s;
}
.indicator.ind1{
  margin-top: 0px;
}
.indicator.ind2{
  margin-top: 30px;
}
.indicator.ind3{
  margin-top: 60px;
}
.indicator.ind4{
  margin-top: 90px;
}
.indicator.ind5{
  margin-top: 120px;
}
.indicator.active{
  background-color: rgba(255,255,255,0.5);
}
.indicator.active2{
  background-color: rgba(0,0,0,0.5);
}
.indicator:hover{
  background-color: rgba(255,100,100,0.5);
}

#landingPage{
  display: block;
  position: relative;
  width: 100vw;
  height: 90vh;
  margin-top: -80px;
  background: rgb(214,202,44);
  background: url(../images/landingBKG.svg);
  background-attachment: fixed;
  background-repeat: round;
}
#landingPage #sat_logo{
  pointer-events: none;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 50vw;
  max-width: 360px;
}
#landingPage span{
  pointer-events: none;
  color: white;
  position: absolute;
  top: 70%;
  text-align: center;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
#landingPage span p:nth-child(2){
  font-size: 1.1em
}
.particles-wrapper {
  display: block;
  position: -webkit-sticky !important;
  position: sticky !important;
  width: 100vw;
  height: 90vh;
  padding: 0;
  margin: 0;
}
#particles-js{
width: 100vw;
height: 80vh;
}
.border{
  display: block;
  position: relative;
  margin-top: -80px;
  background-color: white;
  border-radius: 500px / 50px;
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 40px 0px;
  z-index: 0;
}
.border2{
  display: block;
  position: relative;
  margin-top: -40px;
  background-color: white;
  width: 100%;
  height: 80px;
}
.social{
  display: inline-block;
  position: fixed;
  right: 2vw;
  bottom: 0;
  transition: 0.2s;
  transform-origin: bottom;
  z-index: 100;
}
.social:hover{
  transform: scale(1.3);
}
#aboutAnchor{
  margin-top: -25vh;
  display: block;
}
#aboutTitle{
  margin-left: 40px;
}
.about1{
height: auto;
margin-bottom: 25vh;
  width: 40vw;
  display: inline;
  float: left;
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../images/satlogoGlow.png");
  background-position: center top;
  background-repeat: no-repeat;
}
.about1 > p{
  font-weight: bold;
  font-size: 18px;
  padding: 40px 0 0 40px;
  text-align: justify;
}
.about2{
height: auto;
  width: 60vw;
  margin-bottom: 25vh;
  display: inline;
  float: left;
  margin-top: -100px;
}
.flex-title{
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  font-size: 18px;
}
.about2 p{
  text-align: center;
  margin: 0;
}
.about2 img{
margin: 0 10px 0 10px;
}
.about-flex1{
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.about-flex2{
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.about-flex3{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
@media only screen and (max-width: 1024px){
.about1{
  width: 100vw;
  height: auto;
  display: inline-block;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../images/satlogoGlow.png");
  background-position: center top;
  background-repeat: no-repeat;
}
.about1 > p{
  padding: 10px;
}
.about2{
  width: 100vw;
  height: auto;
  display: inline-block;
}
.about2 img{
  width: 40vw;
}
.about-flex1{
  overflow-x: scroll;
  width: 100vw;
  margin: 10px 0 10px 0;
}
.about-flex2{
  overflow-x: scroll;
  width: 100vw;
  margin: 10px 0 10px 0;
  padding-left: 360px !important;
}
.about-flex3{
  overflow-x: scroll;
  width: 100vw;
  margin: 10px 0 10px 0;
  padding-left: 460px !important;
}
.contactForm{
  transform: translateX(-50%) !important;
}
}
h1.section{
  display: inline-block;
  position: relative;
  height: 2em;
  width: 100vw;
  bottom: 0px;
}
.slider-container{
  transform: scale(1);
	width: 100vw;
	overflow: hidden;
	background-color: #0B1013;
	background-size: cover;
}
.slider{
	width: 60vw;
	height: 40vw;
	position: relative;
	margin: auto;
	perspective: 1000px;
}
.slider ul{
	position: relative;
	left: -900px;
}
.slider li{
	width: 60vw;
	height: 40vw;
	float: left;
	box-sizing: border-box;
	padding: 5px;
	cursor: pointer;
	transform: rotateY(-60deg);
	transition: .6s;
	overflow: hidden;
	border: 1px solid #8D742A;
  color: #8D742A;
  text-align: center;
  line-height: 205px;
  text-transform: upcase;
  text-transform: uppercase;
  font-size: 36px;
}
.slider li img{
	width: 100%;
	height: auto;
}
.slider li:nth-child(4){
	width: 30px;
	transform: rotateY(0);
	transition: .6s;
}
.slider li:nth-child(1), .slider li:nth-child(2), .slider li:nth-child(3){
	transform: rotateY(60deg);
}
.sliderControl{
	width: 80vw;
	margin:20px auto;
	text-align: center;
}
.sliderControl a{
	display:inline-block;
	width: 50px;
	height: 5px;
	background-color:#333;
	margin-right: 10px;
	cursor:pointer;
	transition: .6s;
}
.sliderControl a:nth-child(4){
	background-color:#F6C555;
}

.contactForm{
  display: block;
  position: relative;
  transform: translateX(-30%);
  margin: 0 50% 0 50%;
  background: rgb(214,202,44);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/landingBKG.svg);
  color: white;
  width: 90%;
  max-width: 600px;
  height: 480px;
  border: 1px solid white;
  box-shadow: 0 0 20px 5px black;
  border-radius: 10px;
  padding: 10px;
}
/* label color */
.input-field label {
  color: #FFF;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FFF;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #FFF;
}
.input-feild .active{
  color: #FFF;
}
.submit{
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #FFF;
  padding: 10px 40px;
  transition: 0.5s linear;
}
.border2 > p{
  position: absolute;
  left: 50px;
  font-size: 1.2em;
}
.sat_container{
  display: block;
  position: absolute;
  right: 25vw;
  margin-top: 320px;
}
@media only screen and (max-width: 1024px){
  .sat_container{
    visibility: hidden;
    margin-top: -1000px;
  }
  .border2 > p {
    left: 0px;
    bottom: -50px;
  }
}
.btn{
  color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 0 0;
  margin-left: -80px;

}
.toggle {
  visibility: hidden;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  width: 12vw;
  position: absolute;
  pointer-events: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.md-36{
  width: 16vw;
}
.btn:not(:first-child) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -2;

  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.btn:nth-child(6) {top:30px;-webkit-transition-delay: 0s;transition-delay: 0s}
.btn:nth-child(7) {top:30px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.btn:nth-child(8) {left:0px;;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
.btn:nth-child(9) {top:30px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.btn:nth-child(2) {top:30px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s;left:0;}
.btn:nth-child(3) {top:30px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}
.btn:nth-child(4) {left:0px;-webkit-transition-delay: 0.6s;transition-delay: 0.6s}
.btn:nth-child(5) {top:30px;left:0px;-webkit-transition-delay: 0.7s;transition-delay: 0.7s}

input#toggle:checked ~ #show-menu .btn:nth-child(2) {
  top:-13.888vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(3) {
  top:-11.666vw;
  left:11.666vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(4) {
  left:13.888vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(5) {
  top :11.666vw;
  left:11.666vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(6) {
  top:13.888vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(7) {
  top:11.666vw;
  left:-11.666vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(8) {
  left:-13.888vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(9) {
  top:-11.666vw;
  left:-11.666vw;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn {
  transition: all 0.3s ease;
    border-radius: 100%;
}

input#toggle:checked ~ #show-menu .btn .menuBtn {
  transform: scale(1.3);
}
#tooltip{
  display: block;
  position: fixed;
  z-index: 9999;
  transform: translateX(-50%);
  padding: 20px;
  background-color: rgba(0,0,0,0.9);
  border-radius: 20px;
  color: #fDf4fA;
	border: 1px solid #8D742A;
}
.shade{
  visibility: hidden;
  background-color: rgba(0,0,0,0.7);
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: 0;
}

.galFrame{
  visibility: hidden;
  display: block;
  position: fixed;
  width: 90vw;
  height: 100vw;
  border-radius: 10px;
	border: 3px solid #8D742A;
  margin: 5vh 5vw;
  background-color: white;
  transition: 0.1s linear;
  transform-origin: center;
}
.selector{
  display: block;
  position: absolute;
  opacity: 0;
  width: 60vw;
  height: 40vw;
  z-index: 10;
  cursor: pointer;
}
